/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.snack-card {
  display: flex;
  width: 100dvh;
  height: fit-content;
  max-height: 60vh;

}

.card-image {
  height: auto;
  max-height: 42vh;
  width: 100%;
  justify-content: center;
  object-fit: cover;
  image-rendering: crisp-edges;

}